<h3>Welcome to AIH.Analytic web application:</h3>
<div>
  <a class="btn btn-success" [routerLink]="['/analytic']">Got to Analytic page--></a>
  <a style="float: right" href="https://github.com/OrkhanDede/AIH.Analytic" class="btn btn-success">Github repository</a>
</div>
<div class="container-fluid pt-2">
  <div class="card-columns">
    <div class="card">
      <p>System ERD Schema</p>
      <img src="/assets/ERD_diagram.png" class="card-img-top" style="width: 100%; height: 400px;" />
    </div>
  </div>
</div>
